html {
	color: #000;
	font: normal 16px/1.5em Times New Roman, serif;
	background: #81865c url(img/bg.jpg) repeat left top;
}
body {
	margin: 0; 
}
.clr {
	clear: both;
}
a {
	color: #577613;
	text-decoration: underline;
}
a:hover {
	color: #8bbd1d;
}
p, h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
	margin: 0;
	padding: 0.65em 0;
	font-weight: normal;
}
h1, .h1 {
	font-size: 28px;
	line-height: 1.4em;
}
h2, .h2 {
	font-size: 22px;
	line-height: 1.4em;
}

.mainwrapper {
	padding: 12px 0;
	min-width: 900px;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	width: 870px;
	background: #fff;
	border-radius: 8px;
}

.green-line {
	margin: 0 -15px;
	padding: 4px 15px;
	color: #fff;
	background: #31420b;
	border-radius: 8px;
}
.green-line p {
	padding: 8px 0;
	font-size: 18px;
	line-height: 24px;
}
.green-line .right {
	float: right;
}

.header {
	padding: 12px 0;
}
.header .logo {
	display: block;
	float: left;
	width: 424px;
	color: #000;
	font-size: 24px;
	line-height: 32px;
	text-decoration: none;
	text-align: center;
}
.header .logo img {
	float: left;
	margin-right: 30px;
}
.header .logo .top {
	display: block;
	padding-top: 10px;
	text-transform: uppercase;
	font-size: 50px;
	line-height: 70px;
}
.header .logo .bottom {
	display: block;
	padding-top: 5px;
	font-size: 64px;
	line-height: 80px;
}
.header .info {
	float: right;
	padding-top: 8px;
	font-size: 18px;
	text-align: right;
}


.main-content .article {
	float: left;
	width: 570px;
	padding-bottom: 20px;
}
.main-content .article h1 {
	padding: 4px 0 10px;
}
.main-content .sidebar {
	float: right;
	width: 270px;
	padding-bottom: 20px;
}
.main-content .sidebar h2 {
	margin: 0 -15px;
	padding: 12px 15px;
	color: #fff;
	line-height: 24px;
	background: #31420b;
}
.main-content .sidebar .menu {
	margin: 0;
	padding: 20px 0;
	list-style: none;
	font-size: 18px;
}
.main-content .sidebar .menu a {
	display: inline-block;
	padding: 6px 0;
}
